{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ contrat.nom }}</td>
            </tr>
            <tr>
                <th>Date_signature</th>
                <td>{% if contrat.datesignature %}{{ contrat.datesignature|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{% if contrat.datefin %}{{ contrat.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer le contrat">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
