{% extends 'base.html.twig' %}

{% block body %}
    <h1>Versements</h1>

    <table class="table table_list">
        <thead>
            <tr>
                <th>Montant</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for versement in versements %}
            <tr>
                <td>{{ versement.montant }}</td>
                <td>{% if versement.date %}{{ versement.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ versement.type }}</td>
                <td>
                    <ul style="list-style-type: none">
                        <li>
                            <a href="{{ path('versement_show', { 'id': versement.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('versement_edit', { 'id': versement.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul style="list-style-type: none">
        <li>
            <a href="{{ path('versement_new') }}">
                <button type="button" class="btn btn-primary">Créer un nouveau versement</button>
            </a>
        </li>
    </ul>
{% endblock %}
