{% extends 'base.html.twig' %}

{% block body %}
    <h1>Versement</h1>
    <table>
        <tbody>
            <tr>
                <th>Montant</th>
                <td>{{ versement.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if versement.date %}{{ versement.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ versement.type }}</td>
            </tr>
            <tr>
                <th>Fichiers</th>
                <td><a href="../../../web/file/{{ versement.pjid }}">{{ versement.pjid }}</a></td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('versement_index') }}">Retour aux versements</a>
        </li>
        <li>
            <a href="{{ path('versement_edit', { 'id': versement.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
