{% extends 'base.html.twig' %}

{% block body %}
    <h1>Versement</h1>
    <table  class="table">
        <tbody>
            <tr>
                <th>Montant</th>
                <td>{{ versement.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if versement.date %}{{ versement.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ versement.type }}</td>
            </tr>
            <tr>
                <th>Fichiers</th>
                <td><a href="../../../web/file/{{ versement.pjid }}">{{ versement.pjid }}</a></td>
            </tr>
        </tbody>
    </table>
    <ul style="list-style-type: none">
        <li>
            <a href="{{ path('versement_index') }}">
                <button class="btn btn-primary" type="button">
                    Retour aux versements
                </button>
            </a>
        </li>
        <li>
            <a href="{{ path('versement_edit', { 'id': versement.id }) }}">
                <button class="btn btn-warning" type="button">
                    Modifier
                </button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
