{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification de fond</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <br>
        <ul class="liste_custom_buttons">
        <input type="submit" value="Modifier" class="btn btn-warning" />
    {{ form_end(edit_form) }}


        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <button type="button" class="btn btn-primary">Retour aux fonds</button>
        </li>
    </ul>
{% endblock %}
