{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de fonds</h1>
<div style="max-height:350px;overflow-y: auto;">
    <table class="table table_list">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fond in fonds %}
            <tr>
                <td><a href="{{ path('fond_show', { 'id': fond.id }) }}">{{ fond.titre }}</a></td>
                <td>
                    <ul style="list-style-type: none">
                        <li>
                            <a href="{{ path('fond_show', { 'id': fond.id }) }}">Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('fond_edit', { 'id': fond.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <ul style="list-style-type: none">
        <li>
            <a href="{{ path('fond_new') }}">
                <button type="button" class="btn btn-primary">Créer un nouveau fond</button>
            </a>
        </li>
    </ul>
{% endblock %}
