{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projets list</h1>

    <table class="table table_list">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Concernés</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.titre }}</a></td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.statut }}</td>
                <td>
                    {% for user in projet.utilisateurs %}
                        {{ user.username }},
                    {% endfor %}
                </td>
                <td>{% if projet.datedebut %}{{ projet.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if projet.datefin %}{{ projet.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul style="list-style-type: none">
                        {% if is_granted('ROLE_MANAGER') %}
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">Modifier le projet</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">Supprimer le projet</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projet_new') }}">
        <button class="btn btn-primary" type="button">
            Nouveau projet
        </button>
    </a>
{% endblock %}
