{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet</h1>
<div style="max-height: 400px;overflow-y:auto;">
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ projet.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ projet.statut }}</td>
            </tr>
            <tr>
                <th>Date de debut</th>
                <td>{% if projet.datedebut %}{{ projet.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{% if projet.datefin %}{{ projet.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Utilisateurs</th>
                <td>{% for user in projet.utilisateurs%}
                    {{ user.username}},
                    {% endfor %}</td>
            </tr>
            {% if false %}
                <tr>
                    <th>Charge liée</th>

                    <td><a href="{{ path('charge_show',{'id': projet.chargeid.id}) }}">{{ projet.chargeid.nom }}</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Fichiers</th>
                <td><a href="../../../web/file/{{ projet.pjid }}">{{ projet.pjid }}</a></td>
            </tr>
        <tr>
            <th>Discussion</th>
            <td>
                {% if projet.getDiscuId() != null %}
                <a href="{{ path('discussion_show', { 'id': projet.getDiscuId().id }) }}">
                    <button type="button" class="btn btn-default">Afficher la discussion</button>
                </a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row" style="max-height: 500px;">
        {% for oneNote in projet.note %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-body">
                        <h5>{{ oneNote.userId }}    {{ oneNote.date|date('d-m-Y') }}</h5>
                        <h4 class="card-title">
                            {{ oneNote.titre }}
                        </h4>
                        <p class="card-text">{{ oneNote.description }}</p>
                    </div>
                </div>
            </div>
            <br>
        {% else %}
            Il n'existe encore aucune note sur ce projet.
        {% endfor %}
        <a href="{{ path('note_new', { projetId: projet.id }) }}" class="btn btn-primary">Ajouter une note</a>
    </div>
</div>
    <br>
    <ul class="liste_custom_buttons">
        <li>
            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">
                <button type="button" class="btn btn-warning">Modifier le projet</button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer le projet" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
