{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charges list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date_echeance</th>
                <th>Montant</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
            <tr>
                <td><a href="{{ path('charge_show', { 'id': charge.id }) }}">{{ charge.titre }}</a></td>
                <td>{% if charge.dateecheance %}{{ charge.dateecheance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>Montant à payer :{{ charge.montant }}</td>
                <td>Statut :{{ charge.statut }}</td>
                <td>
                    <ul>
                        {% if is_granted('ROLE_MANAGER') %}
                            <li>
                                <a href="{{ path('charge_edit', { 'id': charge.id }) }}">Modifier</a>
                            </li>
                            <li>
                                <a href="{{ path('charge_delete', { 'id': charge.id }) }}">Supprimer</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_MANAGER') %}
    <ul>
        <li>
            <a href="{{ path('charge_new') }}">Créer une nouvelle charge</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
