{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle Charge</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}


    <ul  style="list-style-type: none">
        <a href="{{ path('contrat_new') }}"><button type="button" class="btn btn-primary">Ajouter un contrat</button></a>
        <input type="submit" value="Créer charge" class="btn btn-success" />
        {{ form_end(form) }}
        <li>
            <a href="{{ path('charge_index') }}"><button type="button" class="btn btn-primary">Retour aux charges</button></a>
        </li>
    </ul>
{% endblock %}
