{% extends 'base.html.twig' %}

{% block body %}
    <h1>Charge</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ charge.titre }}</td>
            </tr>
            <tr>
                <th>Date d'échéance</th>
                <td>{% if charge.dateecheance %}{{ charge.dateecheance|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ charge.montant }}</td>
            </tr>
            <tr>
                <th>Concernés</th>
                <td>
                    {% for user in charge.getUtilisateurs() %}
                        {{ user.username }},
                    {% endfor %}
                </td>
                </td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ charge.statut }}</td>
            </tr>
            <tr><th>Contrat</th>
                <td>
                    <a href="{{ path('contrat_show', { 'id': charge.getContratId().id }) }}">{{ charge.contratId.nom }}</a>
                </td>
            </tr>
            <tr>
                <th>Fichiers</th>
                <td><a href="../../../web/file/{{ charge.pjid }}">{{ charge.pjid }}</a></td>
            </tr>
        </tbody>
    </table>

    <br>
    <ul  class="liste_custom_buttons">
        {% if is_granted('ROLE_MANAGER') %}
        <li>
            <a href="{{ path('charge_edit', { 'id': charge.id }) }}">
                <button type="button" class="btn btn-warning">Modifier la charge</button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer charge" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
