{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier message</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier message" class="btn btn-warning"/>
    {{ form_end(edit_form) }}

    <ul style="list-style-type: none">
        <a href="{{ path('discussion_show',{'id':message.discussionid.id}) }}"><button type="button" class="btn btn-primary">Retour a la discussion</button></a>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer message" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
