{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if message.date %}{{ message.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ message.contenu }}</td>
            </tr>
            <tr>
                <th>Discussion</th>
                <td>La discussion s'affiche pas :-( }}</td>
            </tr>
            <tr>
                <th>Expéditeur</th>
                <td></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('message_edit', { 'id': message.id }) }}">Modifier le message</a>
        </li>
        {% if is_granted('ROLE_MANAGER') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
