{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if message.date %}{{ message.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ message.contenu }}</td>
            </tr>
            <tr>
                <th>Discussion</th>
                <td>{{ message.discussionid }}</td>
            </tr>
            <tr>
                <th>Expéditeur</th>
                <td>{{ message.userid }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <ul class="liste_custom_buttons">
        <li>
            <a href="{{ path('discussion_show',{'id': message.discussionId.id}) }}">
                <button type="button" class="btn btn-primary">Retour discussion</button>
            </a>
        </li>
        {% if is_granted('ROLE_MANAGER') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        <li>
            <a href="{{ path('message_edit', { 'id': message.id }) }}">
                <button type="button" class="btn btn-warning">Modifier le message</button>
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
