    <ul id="menu-demo2">
        <img src="copropriete/web/contents/img/logo.png" height="auto" width="100%"/>


        {% if is_granted('ROLE_ADMIN') %}
            <li style="color: red;">Admin</li>
            <li><a href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
            <li><a href="#">Bienvenue {{ app.user.username }}</a>
                <ul>
                    <li><a href="{{ path('user_show_profil', { 'id': app.user.id }) }}">Mon profil</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            </li>
        {% else %}


        <li><a href="{{ path('index') }}">Accueil</a>
            {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('discussion_index') }}">Discussions</a></li>
                        <li><a href="{{ path('charge_index') }}">Charges</a></li>
        {% if is_granted('ROLE_MANAGER') %}
            <li><a href="{{ path('fond_index') }}">Fonds</a></li>
            <li><a href="{{ path('versement_index') }}">Versements</a></li>
            {% endif %}
                </li>
                <li><a href="{{ path('projet_index') }}">Projets</a></li>
                <li><a href="#">Bienvenue {{ app.user.username }}</a>
                    <ul>
                        <li><a href="{{ path('user_show_profil', { 'id': app.user.id }) }}">Mon profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    <ul>
                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                    </ul>
                </li>
            {% endif %}


        {% endif %}
    </ul>