<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div style='height:100px;' class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="nav nav-default navbar-nav navbar-default" style="text-align: center;">
                    <li class="active"><a href="{{ path('index') }}"><img style='height:40px;width:auto'src="{{ asset('contents/img/logo.png') }}"></a></li>
                    <li><a href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenue {{ app.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_show_profil', { 'id': app.user.id }) }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}

            {% if is_granted('ROLE_USER') %}

                <ul class="nav nav-default navbar-nav navbar-default">
                    <li class="active"><a href="{{ path('index') }}"><img style='height:45px;width:auto'src="{{ asset('contents/img/logo.png') }}"></a></li>
                    <li><a href="{{ path('discussion_index') }}">Discussions</a></li>
                    <li><a href="{{ path('charge_index') }}">Charges</a></li>
                    <li><a href="{{ path('projet_index') }}">Projets</a></li>
                    {% if is_granted('ROLE_MANAGER') %}
                        <li><a href="{{ path('fond_index') }}">Fonds</a></li>
                        <li><a href="{{ path('versement_index') }}">Versements</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenue {{ app.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('user_show_profil', { 'id': app.user.id }) }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
            <ul class="nav nav-default navbar-nav navbar-default">
                <li class="active"><a href="{{ path('index') }}"><img style='height:40px;width:auto'src="{{ asset('contents/img/logo.png') }}"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Authentification<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}


            {% endif %}
        </div>
    </div>
</nav>