{% extends 'base.html.twig' %}

{% block body %}
    <!--
    <div id="div_index_img">
        <div class="col-lg-12 col-md-12" style="background-image: url('/web/contents/img/immeuble.jpg'); width: 100%; height: 500px;">
        </div>
    </div>-->
    <br/>
    <br/>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="page-header">
            <h1>Accueil Admin</h1>
            <h1><small>Veuillez ajouter des utilisateurs et leur attribuer un rôle</small></h1>
        </div>
    {% else %}
        {% if is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-3 col-md-3 block ">
                <h3 style='text-align: center;' class="alert alert-warning" role="alert">Vos discussions</h3>
                <div class="bloc_discussion">
                    {% for discussion in discussions %}
                        {% if discussion.archive == "0" and app.user in discussion.utilisateurs %}
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span style="overflow: hidden;"><a href="{{ path('discussion_show', { 'id': discussion.id }) }}">{{ discussion.nom }}</a></span>
                                        <span style="float: right;">{% if discussion.datedebut %}crée le : {{ discussion.datedebut|date('d m Y') }}{% endif %}</span>
                                    </h4>
                                </div>
                                <div class="panel-body">

                                        Participants :
                                        {% for user in discussion.utilisateurs %}
                                            {{ user.username }},&nbsp;
                                        {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
                <a href="{{ path('discussion_new') }}">
                    <button class="btn btn-primary" type="button">
                        Nouvelle discussion
                    </button>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 block">
                <h3 style='text-align: center;' class="alert alert-info" role="alert">Projets en cours</h3>
                <div class="bloc_projet">
                    {% for projet in projets %}
                        {% if app.user in projet.utilisateurs %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 style="height: 30px;" class="panel-title">
                                    <span style="overflow: hidden;"><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.titre }}</a></span>
                                    <span style="float: right;">
                                    {% if projet.datedebut %}
                                        Débute le : {{ projet.datedebut|date('d/m/Y') }}<br>
                                        Prend fin le : {{ projet.datefin|date('d/m/Y') }}
                                    {% endif %}
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <h5>Statut :</h5>{{ projet.statut }}<br>
                                <h5>Détails :</h5>{{ projet.description }}
                            </div>
                        </div>
                            {% endif %}
                    {% endfor %}
            </div>
                {% if is_granted('ROLE_MANAGER') %}
                    <a href="{{ path('projet_new') }}">
                        <button class="btn btn-primary" type="button">
                            Nouveau projet
                        </button>
                    </a>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 block">
                <h3 style='text-align: center;' class="alert alert-success" role="alert">Charges restantes</h3>
            <div class="bloc_charge">
                    {% for charge in charges %}
                        {% if app.user in charge.utilisateurs %}
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4 style="min-height:30px;" class="panel-title">
                                    <span style="overflow: hidden;">{{ charge.titre }}</span>
                                    <span>
                                            <div style="float:right" class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('charge_show', { 'id': charge.id }) }}">Consulter</a></li>
                                                    <!--<li><a href="#">Payer</a></li>-->
                                                </ul>
                                            </div>
                                    </span>
                                </h4>
                            </div>
                            <div class="panel-body">
                                {% if charge.dateecheance %}
                                    Prend fin le : {{ charge.dateecheance|date('d/m/Y') }}
                                {% endif %}<br>
                                Statut: {{ charge.statut }}
                                Montant à payer :{{ charge.montant }}<br>

                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
            </div>
                {% if is_granted('ROLE_MANAGER') %}
                    <a href="{{ path('charge_new') }}">
                        <button class="btn btn-primary" type="button">
                            Nouvelle charge
                        </button>
                    </a>
                {% endif %}
        </div>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}