{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste discussions</h1>

    <table class="table table_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date_debut</th>
                <th>Type</th>
                <th>Utilisateurs</th>
                <th>Archive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discussion in discussions %}

            {% if not discussion.archive == "1" and app.user in discussion.utilisateurs or is_granted('ROLE_PREVIOUS_ADMIN') %}
            <tr>
                <td><a href="{{ path('discussion_show', { 'id': discussion.id }) }}">{{  discussion.nom }}</a></td>
                <td>{% if discussion.datedebut %}{{ discussion.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ discussion.type }}</td>
                <td>
                    {% for user in discussion.utilisateurs %}
                        {{ user.username }},
                    {% endfor %}
                </td>
                <td>{% if discussion.archive %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <ul style="list-style-type: none">
                        <li>
                            <a href="{{ path('discussion_show', { 'id': discussion.id }) }}">afficher</a>
                        </li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}">modifier discussion</a>
                        </li>
                        <li>
                            <a href="{{ path('discussion_delete', { 'id': discussion.id }) }}">supprimer discussion</a>
                        </li>
                        {%  endif %}
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <ul style="list-style-type: none">
        <li>
            <a href="{{ path('discussion_new') }}">
                <button type="button" class="btn btn-primary">Créer une nouvelle discussion</button>
            </a>
        </li>
    </ul>
{% endblock %}
