{% extends 'base.html.twig' %}

{% block body %}

    <h1>Discussion {{ discussion.nom }}</h1>
    <div>Date de création : {% if discussion.datedebut %}{{ discussion.datedebut|date('Y-m-d H:i:s') }}{% endif %}</div>
    <br><br>
    <div style="height:300px;overflow-y: auto;">
    <table class="table">
        <tbody>
            <tr>
                <th>Message</th>
                <th>Actions</th>
            </tr>
            {% for message in messages %}
            <tr>
                <td>{{ message.contenu }}</td>
                {% if is_granted('ROLE_MANAGER') %}
                <td>
                    <li>
                        <a href="{{ path('message_edit', { 'id': message.id }) }}">Modifier message</a>
                    </li>
                    <li>
                        <a href="{{ path('message_delete', { 'id': message.id }) }}">Supprimer message</a>
                    </li>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <ul>
        <li><a href="{{ path('message_new_discu', {'id': discussion.id}) }}">Créer un nouveau message</a></li>
        <li>
            <a href="{{ path('index') }}">Retour accueil</a>
        </li>
        <li>
            <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}">Modifier discussion</a>
        </li>
        {% if is_granted('ROLE_MANAGER') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer discussion">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
