{% extends 'base.html.twig' %}

{% block body %}

    <h1>Discussion {{ discussion.nom }}</h1>
    <div>Date de création : {% if discussion.datedebut %}{{ discussion.datedebut|date('Y-m-d') }}{% endif %}</div>
    <br><br>
    <div style="height:300px;overflow-y: auto;">
    <table class="table">
        <tbody>
            <tr>
                <th>Message</th>
                <th>Actions</th>
            </tr>
            {% for message in messages %}
            <tr>
                <td>{{ message.contenu }}</td>
                {% if is_granted('ROLE_MANAGER') %}
                <td><ul  style="list-style-type: none">
                    <li>
                        <a href="{{ path('message_edit', { 'id': message.id }) }}">Modifier message</a>
                    </li>
                    <li>
                        <a href="{{ path('message_delete', { 'id': message.id }) }}">Supprimer message</a>
                    </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <ul  style="list-style-type: none">
        <li>
            <a href="{{ path('message_new_discu', {'id': discussion.id}) }}"><button type="button" class="btn btn-primary">Créer un nouveau message</button></a>
        </li>
        <li>
            <a href="{{ path('index') }}"><button type="button" class="btn btn-primary">Retour à l'accueil</button></a>
        </li>
        <li>
            <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}"><button type="button" class="btn btn-warning">Modifier discussion</button></a>
        </li>
        {% if is_granted('ROLE_MANAGER') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer discussion" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
