{% extends 'base.html.twig' %}

{% block body %}

    <h3>Date de création : {% if discussion.datedebut %}{{ discussion.datedebut|date('d/m/Y') }}{% endif %}</h3>
    <p>Participants : &nbsp;
        {% for user in discussion.utilisateurs %}
            {{ user.username }},
        {% endfor %}
    </p>
    <br>
    <div style="height:300px;overflow-y: auto;">
    <table class="table">
        <tbody>
            <tr>
                <th></th>
                <th>Messages de {{ discussion.nom }}</th>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}

                <th>Actions</th>
                {% endif %}
            </tr>
            {% for message in messages %}
            <tr>
                <td>{{ message.userid.username }} :</td>
                <td>{{ message.contenu }}</td>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <td><ul  style="list-style-type: none">
                    <li>
                        <a href="{{ path('message_edit', { 'id': message.id }) }}">Modifier message</a>
                    </li>
                    <li>
                        <a href="{{ path('message_delete', { 'id': message.id }) }}">Supprimer message</a>
                    </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <ul  style="list-style-type: none">
        {% if discussion.archive == "0" %}
        <li>
            <a href="{{ path('message_new_discu', {'id': discussion.id}) }}"><button type="button" class="btn btn-primary">Créer un nouveau message</button></a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <li>
                <a href="{{ path('discussion_edit', { 'id': discussion.id }) }}"><button type="button" class="btn btn-warning">Modifier discussion</button></a>
            </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer discussion" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
